mat-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  button {
    margin: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

main {
  height: calc(100vh - var(--mat-toolbar-standard-height, 64px));
  overflow: hidden;
}

.fab-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;

  @media (max-width: 600px) {
    bottom: 1rem;
    right: 1rem;
  }
}
