@use '@angular/material' as mat;

// Include Material core styles (typography, etc.)
@include mat.core();

// Create light theme using Material 3 API
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

// Create dark theme using Material 3 API
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

// Apply light theme by default
html {
  @include mat.all-component-themes($light-theme);
}

// Apply dark theme when .dark-theme class is present on html element
html.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
